# Logs
logs
*.log

**/*.release
*.local
**/*.db
**/*.exe
**/*.ps*1
**/*.json
!package.json
!tsconfig.json
node_modules
.scripts/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
